@keyframes opacity {
    0% {
        background-color: #B3D6C6;
    }
    50% {
        background-color: rgba(0, 0, 0, 1);
    }
    50% {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

@keyframes transition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* MODAL */

/* .modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  display: none;
  justify-content: center;
  align-items: center;
  animation: opacity 2s;
  position: fixed;


  
} */

/* Gabe */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 99;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}

/* .modal-content {
    width: 400px;
    height: 250px;
    background-color: #CED3DC;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.75);
    letter-spacing: 2px;
    font-weight: bold;
    color: #387780;
    opacity: 0;
    animation: transition 1s ease-in-out 1s forwards;
    margin: 0 auto;
    width: 60%
} */

.close {
    font-size: 40px;
    margin-right: 10px;
    margin-top: -5px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
    color: #387780;
}

.close:hover,
.close:focus {
    color: grey;
}