@keyframes opacity {
  0% {background-color : #B3D6C6;}
  50% {background-color: rgba(0,0,0,1);}
  50% {background-color: rgba(0,0,0,0.4);}
}
@keyframes transition {
  0%   {opacity:0;}
  100% {opacity:1;}
}

/* MODAL */
.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  display: none;
  justify-content: center;
  align-items: center;
  animation: opacity 2s;
  position: fixed;
}
.modal-content {
  width:400px;
  height: 250px;
  background-color: #CED3DC;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items:center;
  box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.75);
  /* font-family: 'Open Sans Condensed'; */
  margin: 0 auto;
  vertical-align: middle;
  letter-spacing: 2px;
  font-weight: bold;
  color: #387780;
  opacity: 0;
  /* animation: transition 1s ease-in-out   1s forwards; */
}
.close {
  font-size: 40px;
  margin-right: 10px;
  margin-top:-5px;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-end;
  color: #387780;
}
.close:hover, .close:focus {
 color: grey;
}
