.headerBG {
    background-color: #eaecef;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wordPosition {
    position: relative;
    bottom: -8px;
}

.noPadding {
    padding: 0px;
    margin: 0px
}