.bg {
    background-color: #eaecef;
    height: 35px;
    font-family: 'Josefin Slab', serif;
    text-align: center;
    margin-top: 10px;

}

.marginBottom {
    margin-bottom: 30px;
}

select {
    font-size: 18px;
    margin-left: 10px;
}

.marginLeft {
    margin-left: 0px;
}

.headerBG {
    background-color: #eaecef;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.deletePosition {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: relative;
    bottom: 1px;
    left: 20px
}
